@import (reference) "~theme";

.portrait {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  transition: background-image 1s ease-in-out;
}

.portraitLeft {
  left: 0;
}

.portraitRight {
  right: 0;
}

.portraitTsukikoDefault {
  background-image:  url('./tsukikoDefault.png');
}

.portraitRajaniDefault {
  background-image:  url('./rajaniDefault.png');
}

.portraitRajaniHappySurprise {
  background-image:  url('./rajaniHappySurprise.png');
}
